.faq_continer{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap:30px;
}
.faqlist_title{
    font-size:2em;
    font-weight: bolder;
    color:$twt-blue-title;

}
.faq_qa{

}
.faqlist_box{
    li{
        padding:20px 0;
        font-size: 1.2em;
        a{
            color:#555555;
            &:hover{
                color:$twt-blue-title;
                text-decoration: none;
            }
        }
    }
    .active{
        color:$twt-blue-title;

    }
}

.faq_answer_title{
    font-size:2em;
    font-weight: bolder;
    color:$twt-blue-title;
    margin-bottom: 20px;
}
.faq_article{
    font-size: 1.2em;
    line-height: 2;
    margin-bottom: 30px;
}
.faq_num_listbox{
    width: 100%;
    ol{
        margin-left: 20px;
        li{
        list-style-type:decimal;
        }
    }
}
.sm_faq_tit{
    font-size: 1.3em;
    font-weight: bolder;
    color:$twt-blue-title;
}

.faq_sacen_ol{
    ol{
        margin-left: 70px;
        li{
        list-style-type:decimal;
        color: $twt-gray;
        }
    }
}
.newsfaq_box{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}
.faqtab{
    background-color: $twt-blue-title;
    padding: 12px 15px;
    color:#ffffff;
    text-align: center;
    border-radius: 10px 0 10px 0;
}
.faq_quation{
    font-size: 1.1em;
    padding: 10px 15px;

}
.fq_wid{
    width: 7%;
}
.faq_down{

    padding: 10px 15px;
    i{
        margin-top: 5px;
    }
}
.news_faq_title{
    border-bottom: 1px solid #ffffff;
    font-weight: bolder;
    color: #2d3b3f;
    background-color: #d1e9ed;
    @include clearfix;

}
.anser_font{
    padding: 30px;
    font-size: 1.1em;
    line-height: 2;
    color: #5a5a5a;
    background-color: #f0f0f0;
}
