.food_com{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-column-gap:30px;
    // grid-row-gap:30px;
    // overflow: hidden;
    @include clearfix;
    margin-top: 140px;
}
.food_bg{
    background-color: #f2f2f2;
    border-radius: 20px;
    // margin-top: 100px;
    width: 30%;
    float: left;
    min-height:220px;
    margin-right: 2%;
    margin-bottom: 140px;
}
.food_list_box{
    box-shadow: inset 0px 0px 50px -100px #ABABAB,0px 0px 24px -4px #a6a6a6;
    -webkit-box-shadow: inset 0px 0px 50px -100px #ABABAB,0px 0px 24px -4px #a6a6a6;
    -moz-box-shadow: inset 0px 0px 50px -100px #ABABAB,0px 0px 24px -4px #a6a6a6;
    -o-box-shadow: inset 0px 0px 50px -100px #ABABAB,0px 0px 24px -4px #a6a6a6;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: -100px;
    background-color: #ffffff;
    img{
        background-position: 50px 50px;
        width: 100%;
    }
}
.food_title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;

}
.food_font{

}
.food_padding{
    padding: 20px 30px;
}
