.pacd_tab_foren{
    font-size: 1em;
}
.spotList_en{
    li{
        font-size: 1em;
    }
}
.con_title_en{
    width: 90%;
}
.vendor_icon_en{
    text-align: center;
    width: 50%;
    float: left;
    img{
        width: 100px;
    }
}
.Vendor_box_en{
    width: 480px;
    margin: 0 auto;
}
