.card-Parallax{
    width: 100%;
    min-height:342px;
    position: relative;
}
.m-page-headerbg{
    position: absolute;
    top:0;
    right:0;
    width: 75%;
    max-height:450px;
    background-size: cover;
    background-image: url("../images/organizers/organizers.jpg");
    height: 330px;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-news_bn{
    background-image: url("../images/news/bgnews.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-event_bn{
    background-image: url("../images/calendar/calendar.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-visitors_bn{
    background-image: url("../images/visitors/visitors.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-transportation_bn{
    background-image: url("../images/transportation/transportation.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-faq_bn{
    background-image: url("../images/faq/faq.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}
.m-page-sitemap_bn{
    background-image: url("../images/sitmap/sitemap.jpg");
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    img{
        width: 100%;
    }
}



.m-page-left_bg{
    position: absolute;
    top:0;
    left:0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#50acf3+0,5ebcc7+100 */
    background: #50acf3; /* Old browsers */
    background: -moz-linear-gradient(top, #50acf3 0%, #5ebcc7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #50acf3 0%,#5ebcc7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #50acf3 0%,#5ebcc7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50acf3', endColorstr='#5ebcc7',GradientType=0 ); /* IE6-9 */
    width: 40%;
    // -webkit-clip-path:polygon(0 0, 100% 0, 90% 100%, 0 100%);
    // -moz-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    // -o-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    // -ms-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    -webkit-transform: skewX(-12deg);
    transform: skewX(-12deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;

    height: 350px;
    overflow: hidden;
    img{
        width: 149%;
        margin-left: -100px;
        opacity: .5;
    }

}
.m-page_font{
    position: absolute;
    top: 177px;
    left: 111px;
    padding-right: 100px;
    -webkit-transform: skewX(11deg);
    transform: skewX(11deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
.page_headtitle{
    font-size: 2.8em;
    color: #ffffff;
    font-weight: bolder;
}
.page_headtext{
    font-size: 1.2em;
    color: #ffffff;

}
.breadcrumb_title{
    font-size: 2.8em;
    font-weight: bolder;
    color: $twt-title;
}
.twtbreadcrumb{
    a{
        color:#999999;
        &:hover{
            text-decoration: none;
            color: $twt-blue-title;
        }
    }
    li{
        display: inline-block;
        margin-right: 10px;
        font-size: 1.2em;
        color: #999999;

    }
    .activeddd{
        color: #55b1e4;
        font-weight: bold;
    }
}
.m-page_wrapper{
    margin: 0 auto;
    width: 100%;
    padding: 2% 14%;
}
.pace_bok{
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // grid-row-gap:50px;
    @include clearfix;
    margin-bottom: 40px;
}
.bok_title{
    font-size: 2.25em;
    font-weight: bolder;
}
.bok_font{
    font-size: 1.2em;
    margin-bottom: 20px;
    color:$twt-gray;
}
.lili_pic01{
    background-image: url("../images/biew.jpg");
}
.lili_pic02{
    background-image: url("../images/biew1.jpg");
}
.lili_pic03{
    background-image: url("../images/biew2.jpg");
}
.lili_pic04{
    background-image: url("../images/biew3.jpg");
}
.bok-pic{
    width: 70%;
    float: left;
    background-size: cover;
    height: 430px;
    img{
        width: 100%;
        margin-bottom: 50px;
    }
    a{
        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }
}

.bok-pic00{
    width: 30%;
    float: left;
    img{
        width: 100%;
        margin-bottom: 50px;
    }
    a{
        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }
}
.bok_rp{
    height: 430px;
    text-align: center;
    overflow: hidden;
    background-image: url("../images/bew.svg");
    background-repeat: no-repeat;
    background-size: cover;
    img{
        width: 100%;

    }
}
.bok_btn{
    background-color: #6ea5c4;
    border-radius: 4px;
    width: 150px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #ffffff;
    &:hover{
        background-color: #4c9ac6;
        transition: all 0.5s;
    }
}
.Vendor-resource_wrapper{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;


}
.Vendor-resource_title{
    text-align: center;
    font-size: 2.5em;
    font-weight: bolder;
}
.Vendor_box{
    @include clearfix;
    a{
        text-decoration: none;
        color: #555555;
        &:hover{
            text-decoration: none;
            color: $twt-blue-title;
            transition: all 0.5s;
        }
    }
}
.vendor_icon{
    text-align: center;
    width: 25%;
    float: left;
    img{
        width: 100px;
    }
}
.ven_pic{
    width: 80px;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
.ven_font{
    font-size: 1.5em;
    font-weight: bold;
}
.ven_text{
    font-size: 1.2em;
    width: 70%;
    margin:  0 auto;
    color: $twt-gray;
}
.orang_tab{
    overflow: auto;
    vertical-align: middle;
    margin-bottom: 40px;
    a{
        color:#4a4a4a;
    }
    li{
        background-color: #e5eef1;
        line-height: 35px;
        cursor: pointer;
        display: inline-block;
        margin-right: 5px;
        padding: 4px 10px;
        border-radius: 5px;
        margin-bottom: 5px;
        &:hover{
            transition: all 0.5s;
            background-color:#c3eaf5;
        }
    }
    .active{
        background-color: #2da4c5;
        color: #ffffff;
    }
}
.orang_wrapper{
    width: 100%;
    padding: 0 14%;
    margin-bottom: 100px;
}
.widget-pic{
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    &.swiper-container{
      height:40vw;
      &.ogz{
        height:auto;
      }
    }
    img{
        width: 100%;
    }
}
.expo_table{
    width: 100%;
    margin-bottom: 20px;
    table{
        width: 100%;
    }
    tr{
        padding: 10px;
        border:  1px solid #cccccc;
    }
    td{
        vertical-align: middle;
        padding: 20px 10px;
        border:  1px solid #cccccc;
        text-align: center;
        font-size: 1.2em;
    }
}
.mod-organizer_title{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.expo_content{
    font-size: 1.2em;
    line-height: 2;

}
.city_bg{
    margin-top: -200px;
    img{
        opacity: .5;
        width: 100%;
    }

}
.clod_bg{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // margin-bottom: 40px;
    // grid-column-gap: 10px;
    @include clearfix;
}
.clod_pic{
    float: left;
    width: 48%;
    margin: 0 1%;

    img{
        width: 100%;
    }
}

.titleBox{
    position: relative;
    padding: 30px 0;
    text-align: center;
    color: #555;
    font-size: 2.5em;
    width: 40%;
    margin: 0 auto;
    &:before{
        left: 0;
        content: '';
        position: absolute;
        display: block;
        top: 60px;
        width: 25%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &:after{
        right: 0;
        content: '';
        position: absolute;
        display: block;
        top: 60px;
        width: 25%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
    }
}
.Catalogue{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-column-gap:20px;
    @include clearfix;

}
.chinese_box{
    float: left;
    margin: 0 1%;
    width: 48%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
}
.chinese_pic{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../images/13.png");
    background-size: cover;
    cursor: pointer;
    transition: all 0.6s;
    &:hover {
        transform: scale(1.4);
    }
    img{
        width: 100%;
    }
}
.chinese_pic2{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../images/14.png");
    background-size: cover;
    cursor: pointer;
    transition: all 0.6s;
    &:hover {
        transform: scale(1.4);
    }
    img{
        width: 100%;
    }
}
.chinese_pic3{
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../images/book03.jpg");
    background-size: cover;
    cursor: pointer;
    transition: all 0.6s;
    &:hover {
        transform: scale(1.4);
    }
    img{
        width: 100%;
    }
}

.pic_show{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:250px;
    background: -moz-linear-gradient(-360deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(-360deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(-360deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}
.libk_bg{
    position: relative;
    background-color: #ffffff;
    height: 100px;
}
.pdf_icon{
    position:absolute;
    top: -19px;
    left: 16px;
    z-index: 10;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    i{
        color: #d8271c;
    }
}
.pdf_font{
    position:absolute;
    top: 40px;
    left: 20px;
    font-size: 1.3em;
    font-weight: bolder;
}
.pdf_font_download{
    position:absolute;
    top: 65px;
    left: 20px;
    font-size: 1em;
}
.step{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap:20px;
    // margin-bottom: 20px;
    @include clearfix;
    margin-bottom: 30px;
}
.step_four{
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-column-gap:20px;
    // margin-bottom: 20px;
    @include clearfix;
    margin-bottom: 30px;
}

.stepblue{
    width: 22%;
    float: left;
    margin: 0 1%;
    padding: 20px;
    border-radius: 10px;
    background-color: #e5eef1;
    min-height:200px;

}
.stepblue_deep{
    width: 25%;
    float: left;
    padding: 20px;
    border-radius: 10px;
    background-color: #2da4c5;
    color: #ffffff;
    a{
        color:#ffffff;
    }
}
.step_title{
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: 10px;
}
.booking-calender{
    table{

    }
    tr{
        padding: 10px;
    }
    td{
        padding: 10px;
    }
}
.month{
    td{
        text-align: center;
        background-color: #f2f2f2;
        font-size: 1.3em;
        font-weight: bolder;
    }
}
.month_title{
    background-color: #c3dce1;
    font-size: 1.3em;
    td{

        font-weight: bolder;
    }
}
.calendate{
    td{
        padding: 10px;
        width: 14.285%;
        padding-bottom: 5%;
        border: 1px solid #f2f2f2;
    }
}
.blue_ch{
    width: 50px;
    height:50px;
    border:2px $twt-blue-title solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    i{
        font-size: 2em;
        color: #ffffff;
    }
}
.yellow_ch{
    width: 50px;
    height:50px;
    border:2px $twt-yellow solid;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
    i{
        font-size: 2em;
        color: #ffffff;
    }
}
.yellow_full{
    background-color: $twt-yellow;

}
.blue_full{
    background-color: $twt-blue-title;
}
.blue_wrap{
    display: flex;
}
.min{
    float: right;
}
.min_list{
    display: inline-block;
    margin-right: 20px;
    i{
        font-size: 1.5em;
    }
}
.min_blue{
    i{
        color: $twt-blue-title;
    }
}
.min_yellow{
    i{
        color:  $twt-yellow;
    }
}
.bookmark{
    background-color: #b1b1b1;
    padding: 10px 20px;
    width: 200px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    text-align: center;
    font-size: 1.3em;
}

.bookmark_blue{
    background-color: $twt-blue-title;
}
.bookmark_yellow{
    background-color: $twt-yellow;
}
.widget-scene-canvas{
    img{
        width: 100%;
    }
}
