.sitemap_wrap{
    @include clearfix;
}
.site_title{
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 10px;
}
.site_box{
    width: 20%;
    float: left;
    li{
        line-height: 2;
        font-size: 1.2em;
        i{
            margin-right: 10px;
        }
    }
}
.site_smfont{
    margin-left:40px;
    color: #555555;
    a{
        color: #555555;
    }
}
