@include respond-cozy {


}
@include respond-compact {


}
@include respond-pad {

}
@include respond-mobile {
    .faq_continer{
        grid-template-columns: 100%;
    }
    .faq_quation{
        font-size: .8em;
    }
    .anser_font{
        font-size: 1em;
    }
    .fq_wid{
        width: 18%;
    }
}
@include respond-small-mobile{

}
