@include respond-cozy {


}
@include respond-compact {
    .m-page-news_bn{
        background-image: url("../images/news/bgnews_wn.jpg");
    }
    .m-page-visitors_bn{
        background-image: url("../images/visitors/visitors_wn.jpg");
    }
    .m-page-transportation_bn{
        background-image: url("../images/transportation/transportation_wn.jpg");
    }
    .m-page-event_bn{
        background-image: url("../images/calendar/calendar_wn.jpg");
    }
    .m-page-headerbg{
        background-image: url("../images/organizers/organizers_wn.jpg");
    }
    .m-page-left_bg{
        width: 50%;
    }

    .Vendor-resource_wrapper{
        width: 1000px;
    }
    .titleBox{
        width: 70%;
        font-size: 2em;
        &:before{
            top: 47px;
        }
        &:after{
            top: 47px;
        }
    }
    .city_bg{
        margin-top:0px;

    }
}
@include respond-pad {
    .m-page-news_bn{
        width: 70%;
        background-image: url("../images/news/bgnews_p.jpg");
    }
    .m-page-visitors_bn{
        width: 70%;
        background-image: url("../images/visitors/visitors_p.jpg");
    }
    .m-page-transportation_bn{
        width: 70%;
        background-image: url("../images/transportation/transportation_p.jpg");
    }
    .m-page-event_bn{
        width: 70%;
        background-image: url("../images/calendar/calendar_p.jpg");
    }
    .m-page-headerbg{
        width: 70%;
        background-image: url("../images/organizers/organizers_p.jpg");
    }
    .m-page_wrapper{
        padding: 2% 5%;
    }
    .orang_wrapper{
        padding: 0 5%;
    }
    .pace_bok{
        margin-bottom: 50px;
    }
    .pace_bok2{
    margin-bottom: 50px;
    }
    .Vendor-resource_wrapper{
        width: 100%;
    }
    .bok_rp{
        padding: 7%;
    }
    .m-page-left_bg{
        width: 52%;

    }
    .m-page_font{
        top: 190px;
        left: 100px;
        padding-right: 48px;
    }
    .page_headtitle{
        font-size: 2em;
    }
    .page_headtext{
        font-size: 1.2em;
    }

    .titleBox{
        width: 70%;
        font-size: 2em;
        &:before{
            top: 47px;
        }
        &:after{
            top: 47px;
        }
    }

}
@include respond-mobile {
    .clod_pic{
        width: 95%;
        margin-bottom: 30px;
    }
    .vendor_icon{
        width: 100%;
    }
    .m-page-news_bn{
        width: 100%;
        background-image: url("../images/news/bgnews_mn.jpg");
    }
    .m-page-visitors_bn{
        width: 100%;
        background-image: url("../images/visitors/visitors_mn.jpg");
    }
    .m-page-transportation_bn{
        width: 100%;
        background-image: url("../images/transportation/transportation_mn.jpg");
    }
    .m-page-event_bn{
        width: 100%;
        background-image: url("../images/calendar/calendar_mn.jpg");
    }
    .m-page-headerbg{
        width:100%;
        background-image: url("../images/organizers/organizers_mn.jpg");
    }
    .bok-pic{
        width: 50%;
        height: 300px;
    }
    .bok-pic00{
        width:50%;
        height: 300px;
    }
    .titleBox{
        width: 90%;
        font-size: 1.5em;
        &:before{
            top: 47px;
        }
        &:after{
            top: 47px;
        }
    }
    .Catalogue{
        grid-template-columns: 1fr;
    }
    .clod_bg{
        grid-template-columns: 1fr;
        grid-row-gap:30px;
    }
    .pace_bok{
        grid-template-columns: 1fr;
    }
    .pace_bok2{
        grid-template-columns: 1fr;
    }
    .flix01{
    order: 0;
    }
    .flix02{
    order: -1;
    }
    .m-page-left_bg{
        top:208px;
        bottom:0;
        width: 90%;
        height: 131px;
    }
    .m-page_font{
        top: 0px;
        left: 0px;
        padding:20px 40px 20px 20px;
    }
    .stepblue{
        width: 45%;
        margin-bottom: 30px;
    }
    .breadcrumb_title{
        font-size: 1.8em;
    }
    .twtbreadcrumb{
        li{
            font-size: 1em;
        }
    }
    .bok_btn{
        width: 112px;
    }
    .bok_font{
        font-size: 1em;
    }
    .Vendor-resource_title{
        font-size: 1.8em;
    }
    .ven_font{
        font-size: 1em;
    }


}
@include respond-small-mobile{
    .m-page-news_bn{
        width: 100%;
        background-image: url("../images/news/bgnews_m.jpg");
    }
    .m-page-visitors_bn{
        width: 100%;
        background-image: url("../images/visitors/visitors_m.jpg");
    }
    .m-page-transportation_bn{
        width: 100%;
        background-image: url("../images/transportation/transportation_m.jpg");
    }
    .m-page-event_bn{
        width: 100%;
        background-image: url("../images/calendar/calendar_m.jpg");
    }
    .m-page-headerbg{
        width:100%;
        background-image: url("../images/organizers/organizers_m.jpg");
    }
    .bok_title{
        font-size:1.8em;

    }
    .stepblue{
        width: 100%;
        min-height: auto;
        max-height: auto;
        margin-bottom: 30px;
    }
    .Vendor_box{
        grid-template-columns: 1fr 1fr;
    }
    .card-Parallax {
    height:360px;
    max-height: 360px;
    }
    .page_headtitle{
        font-size: 1.5em;
    }
    .page_headtext{
        font-size: 1em;
    }
}
