@include respond-cozy {


}
@include respond-compact {


}
@include respond-pad {

}
@include respond-mobile {
    .editor{
            grid-template-columns: 1fr 1fr;
    }
    .floor_btn{
        font-size: 1em;
        li{
            border-radius: 10px;
            margin-bottom: 5px;
        }
    }
    .ed_box{
        width: 33.3%;
    }
}
@include respond-small-mobile{
    .ed_box{
        width: 50%;
    }
}
