@include respond-cozy {


}
@include respond-compact {


}
@include respond-pad {
    .tran_about{
        li{
            width: 33%!important;
            float: left;
        }
    }
}
@include respond-mobile {
    .tran_about{
        li{
            width: 50%!important;
            float: left;
        }
    }
    .contact_wrap{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap:30px;
    }
    .green_bild{
        width: 100%;
        padding-bottom: 5%;
    }
    .content-area{
        width: 100%;
    }
    .content-right{
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }
    .on_btn{
        bottom: 30px;
    }

}
@include respond-small-mobile{
    .tran_about{
        li{
            width: 100%!important;
            float: left;
        }
    }
}
