@include respond-cozy {


}
@include respond-compact {
    .listline{
        margin: 0 5px;
    }
    .view_bg {
    height: 418px;
    background-position: 0 22px;
    }
    .rent_continer{
        width: 100%;
        padding: 0 50px;
    }
    .news_wrapper{
        width: 100%;
        padding: 0 30px;
    }
    .footer_continer{
        width: 100%;
    }
    .event_wrapper{
        width: 100%;
    }
    .dview_wrapper{
        width: 100%;
    }
    .ento_wrapper{
        width: 100%;
    }
    .news_wrapper{
        width: 100%;
        padding: 0 30px;
    }
    .rent_wrapper{
        width: 100%;
    }
    .traffic_big_title{
        width: 100%;
        margin-left: 0;
        left:0;
    }
    .tra_contin{
        width: 100%;
    }
    .rightBox{
        display: none;
    }
    .search_Bg{
        display: none;
    }
    .search_Bg_menu{
        display: block;
    }
    .mobile_darkbg{
        display: block;
        background-color:#89b0d0;
        width: $menu-width-pad;
        height: 100vh;
        position: fixed;
        z-index: 99;
        overflow: scroll;
        top:0;
        right:-$menu-width-pad;
    }
    .mobile_darkbg_box{
        padding: 10px 30px;
        width: 100%;
        float: left;
        color:#ffffff;
        li{
            line-height: 2;
            font-size: 1.2em;
            i{
                margin-right: 10px;
            }
        }
    }
}
@include respond-pad {
    .mob_box{
        width: 100px;
        height:60px;
    }
    .mobile_darkbg{
        display: block;
        background-color:#89b0d0;
        width: $menu-width-pad;
        height: 100vh;
        position: fixed;
        z-index: 99;
        overflow: scroll;
        top:0;
        right:-$menu-width-pad;
    }
    .mobile_darkbg_wrap{
        @include clearfix;
    }
    .mobile_darkbg_box{
        padding: 10px 30px;
        width: 100%;
        float: left;
        color:#ffffff;
        li{
            line-height: 2;
            font-size: 1.2em;
            i{
                margin-right: 10px;
            }
        }
    }

    .ubike_btn{
        width: 33%;
        li{
            font-size: 1.2em;
            color: #ffffff;
            img{
                width: 60px;
            }
        }
    }

    .footer_continer{
        width: 100%;
    }
    .event_wrapper{
        width: 100%;
    }
    .dview_wrapper{
        width: 100%;
    }
    .ento_wrapper{
        width: 100%;
    }
    .news_wrapper{
        width: 100%;
        padding: 0 30px;
    }
    .mrt_box{
        width: 100%;
    }
    .rent_continer{
        width: 100%;
        left: 0;
        margin-left: 0;
        // padding: 0 94px;
    }
    .pacd_tab{
        font-size: 1.2em;
    }
    .rightBox{
        display: none;
    }
    .ento_wrapper{
        margin: 0 auto;
    }
    .search_Bg_menu{
        display: block;
    }
    .search_Bg {
        display: none;
    }
    .skell_left{
        clip-path:none;
    }
    .skell_right{
        clip-path:none;
    }
    .spotList{
        padding: 10px;
        width: 33.3333%;
        li{
            font-size: 1.3em;
        }
    }
    .ul_skell{
        transform: none;
    }
    .ul_skell_right{
        transform: none;
    }
    .net_bg02,.net_bg01{
        display: none;
    }
    .rent_bluebg{
        height: 600px;
    }

    .skell_right {
        -moz-transform:skewX(0deg) skewY(0deg);
        -webkit-transform:skewX(0deg) skewY(0deg);
        -o-transform:skewX(0deg) skewY(0deg);
        -ms-transform:skewX(0deg) skewY(0deg);
        transform: skewX(0deg) skewY(0deg);

    }

    .skell_left {
        -moz-transform:skewX(0deg) skewY(0deg);
        -webkit-transform:skewX(0deg) skewY(0deg);
        -o-transform:skewX(0deg) skewY(0deg);
        -ms-transform:skewX(0deg) skewY(0deg);
        transform: skewX(0deg) skewY(0deg);
    }
    .evt_tab{
        padding: 0 30px;
    }
    .tra_contin{
        width: 100%;
        margin-left: 0;
        left:0;
    }
    .view_bg{
        height: 418px;
        background-position: 0 150px;
    }
    .view_font{
        top:-50px;
        left:20px;
        font-size: 2em;
        width: 230px;
    }
    .view_vr{
        right:50%;
        margin-right: -250px;
    }
    .downmenu_box{
        width: 960px;
        margin: 40px auto;
    }
}
@include respond-mobile {
    .traffic_bg{
        height: auto;
        padding-bottom: 114%;
        background-size: contain;
    }
    .chun_wraper{
        width: 100%;
    }
    .chun_logo{
        margin-bottom: 30px;
    }
    .evn_box{
        width: 43%;
        margin: 3% 3%;
    }
    .copy{
        width: 100%;
        float: left;
    }
    .appleft{
        margin-left:20%;
    }
    .do_wrip{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .view_bg {
    height: 418px;
    background-position: 0 236px;
    }

    .tra_blue{
        display: none;
    }
    .tra_dryblue{
        width: 100%;
        clip-path:none;
        height: 357px;
    }
    .traffic_big_title{
        font-size: 1.8em;
        width: 100%;
        margin-left: 0;
        left:0;
    }
    .goto_viewd{
        width: 250px;
        height: 100px;
        bottom: 0;
        right: 0;

    }
    .tra_contin{
        width: 100%;
        margin-left: 0;
        left:0;
    }
    .newnew{
        font-size: 1em;
        i{
            margin-right: 0;
        }
    }
    .oranizers{
        display: none;
    }
    .rent_continer{
        padding: 0 80px;
    }
    .ul_skell{
        img{
            width: 60px;
        }
    }
    .ul_skell_right{
        img{
            width: 60px;
        }
    }
    .logo{
        width: 250px;
        &.y50{
          width: 90px;
        }
    }
    .search_Bg_menu{
        width:50px;
        height: 50px;
        padding: 14px
    }
    .rent_big_title{
        font-size: 2em;
    }
    .rent_font{
        font-size: 1em;
        margin-bottom: 10px;
    }
    .pacd_tab{
        font-size: 1em;
    }
    .rent_linehouse{
        width: 343px;
        bottom: -61px;
        right: 6px;
    }
    .rent_bluebg{
        min-height: 500px;
        max-height: 700px;
        width: 100%;
        clip-path:none;
    }
    .video-container{
        padding-bottom: 51%;
    }
    .rentpace{
        grid-template-columns: 1fr 1fr;
        grid-row-gap:40px;
    }
    .event_wrapper{
        width: 100%;
    }

    .ento_wrapper{
        width: 100%;
    }
    .footer_continer{
        width: 100%;
    }
    .row_cop{
        grid-template-columns: 1fr;
        grid-row-gap:20px;
        padding: 40px 30px;
    }
    .copyright{
        padding: 0 30px;
    }
    .date_title{
        font-size: 1.3em;
    }
    .shod{
        top:50px;
    }
    .bok-pic{
        img{
            margin-bottom: 0!important;
        }
    }
    .downmenu_box{
        width: 100%;
        margin: 40px 0;
    }
    .downmenu_bg{
        margin-top: 50px;
    }
    .pace_box{
        width: 45%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .news_bg{
        padding: 0 0 45px 0;
    }
    .news_title{
        width: 120px;
    }
    .news_list_continer{
        padding-top: 67px;
    }
    .event_bigtitle{
        font-size: 1.8em;
    }
    .evt_tab{
        li{
            font-size: 1.2em;
        }
    }
    .viewmore{
        font-size: 1.2em;
    }
    .spotList {
        li{
            font-size: 1.1em;
        }
    }
    .lili_box{
        margin-top:30px;
    }

}
@include respond-small-mobile{
    .traffic_bg{
        height: auto;
        padding-bottom:129%;
        background-size: contain;
    }
    .lili_box{
        margin-top:30px;
    }
    .mobile_darkbg{
        width: $menu-width-mobile;
        right:-$menu-width-mobile;
    }
    .rent_bluebg{
        min-height: 500px;
        max-height: 604px;
    }
    .new_readmore{
        width:120px;
        margin-top: 3px;
        padding: 5px 20px;
    }
    .pace_box{
        width: 45%;
        margin-right: 5%;
        margin-bottom:20%;
    }
    .pacd_tab{
        width: 99%;
        left: 69%;
    }
    .evn_box{
        width: 90%;
        margin: 0 5%;
    }

    .do_wrip{
        display: grid;
        grid-template-columns: 1fr;
    }
    .logo{
        // width: 220px;
        max-width:220px;
        min-width:185px;
    }
    .rent_continer{
        padding: 0 36px;
    }
    .view_vr{
        width: 320px;
        top: 26px;
        right: 50%;
        margin-right: -161px;
    }
    .view_bg {
    height: 418px;
    background-position: 0 280px;
    }


}
