@include respond-cozy {


}
@include respond-compact {


}
@include respond-pad {
    .card-box{
        width: 46%;
        margin: 2%;
    }
}
@include respond-mobile {
    .news-list{
        grid-template-columns: 1fr 1fr;
    }
    .news_continer{
        h1{
            font-size: 1.8em;
        }
    }

    .card_title{
        font-size: 1.2em;
    }
}
@include respond-small-mobile{
    .card-box{
        width: 100%;
        margin: 0 0 8% 0;
    }
    .news-list{
        grid-template-columns: 1fr;
    }

}
