@include respond-cozy {


}
@include respond-compact {

    .calen-card_issuse{
        min-height: 260px;
    }
}
@include respond-pad {
    .calen-card_issuse{
        min-height: 270px;
    }

    .ticket_price{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .calen-list{
        grid-template-columns: 1fr 1fr;
    }
    .from_box{
    font-size: .8em;
    }
    .from_box_dash {
    margin: 0 13px;
    height: 20px;
    }
}
@include respond-mobile {
    .calen-card_issuse{
        min-height: 285px;
    }

    .calen-list{
        grid-template-columns: 1fr 1fr;
    }
    .ticket_poster{
        grid-template-columns: 1fr;
        grid-row-gap:30px;
    }
    .calen-card-box{
        width: 46%;
    }
    .from_box{
    font-size: .8em;
    }
    .from_box_dash {
    margin: 0 13px;
    height: 20px;
    }



}
@include respond-small-mobile{

    .calen-card-box{
        width: 100%;
    }
    .event_more_title{
        font-size: 1.8em;
    }
    .calen-list{
        grid-template-columns: 1fr ;
    }
}
