@include respond-cozy {


}
@include respond-compact {
    .calen-pic{
    min-height: 100px;
    }

}
@include respond-pad {
    .calen-pic{
        min-height: 70px;
    }
    .ticket_price{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .calen-list{
        grid-template-columns: 1fr 1fr;
    }

}
@include respond-mobile {
    .calen-pic{
        min-height: 123px;
    }
    .calen-list{
        grid-template-columns: 1fr 1fr;
    }
    .ticket_poster{
        grid-template-columns: 1fr;
        grid-row-gap:30px;
    }
    .calen-card-box{
        width: 46%;
    }



}
@include respond-small-mobile{
    .calen-pic{
        height: 133px;
    }
    .calen-card-box{
        width: 100%;
    }
    .event_more_title{
        font-size: 1.8em;
    }
    .calen-list{
        grid-template-columns: 1fr ;
    }
}
